<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <properties>
    <property name="dialect" value="mysql" />
    <property name="pageSqlId" value=".*Page$" />
  </properties>
  <settings>
    <setting name="cacheEnabled" value="false" />
    <setting name="lazyLoadingEnabled" value="true" />
    <setting name="multipleResultSetsEnabled" value="true" />
    <setting name="useColumnLabel" value="true" />
    <setting name="useGeneratedKeys" value="false" />
    <setting name="autoMappingBehavior" value="FULL" />
    <setting name="defaultExecutorType" value="SIMPLE" />
    <setting name="defaultStatementTimeout" value="60" />
    <setting name="safeRowBoundsEnabled" value="false" />
    <setting name="mapUnderscoreToCamelCase" value="false" />
    <setting name="localCacheScope" value="SESSION" />
    <setting name="jdbcTypeForNull" value="OTHER" />
    <setting name="lazyLoadTriggerMethods" value="equals,clone,hashCode,toString" />
  </settings>
  
  <typeAliases>
	<typeAlias type="org.world.origin.domain.PageData" alias="pd"/>
  </typeAliases>
  
  <!-- <plugins>
    <plugin interceptor="cn.webank.mumble.framework.integration.dao.interceptor.PageInterceptor"></plugin>
  </plugins> -->

  <!-- <mappers>
    <mapper resource="mybatis-mapper-block-chain.xml" />
    <mapper resource="GlobalJobMapper.xml" />
    <mapper resource="PayAgencyConfigMapper.xml" />
    <mapper resource="PayAgencyIdentifyConfigMapper.xml" />
    <mapper resource="PayNotifyFailProcessMapper.xml" />
    <mapper resource="PayTransRecordMapper.xml" />
  </mappers> -->

</configuration>
